.custom-button {
    width: 180px;
    margin-top: 12px;
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #ff6600;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
  }
  

  .custom-button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  .custom-button:active {
    background-color: #cf753d;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

  .custom-buttonAzul {
    width: 150px;
    margin-top: 12px;
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #0a06f1;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .custom-buttonAzul:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  .custom-buttonAzul:active {
    background-color: #cf753d;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }



  .custom-buttonAzulRedondo {
    width: 45px;
    height: 45px;

    margin-top: 12px;
    padding: 0;
    border: 0;
    border-radius: 100px;
    background-color: rgb(14,62,217) ;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .custom-buttonAzulRedondo:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  .custom-buttonAzulRedondo:active {
    background-color: #cf753d;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }