@font-face {
  font-family: 'theBold';
  src: url('../../../public/THEBOLDFONT.ttf') format('truetype');
  font-weight:lighter;
  font-style: normal;
}

.custom-button {
    width: 300px;
    margin-top: 13px;
    margin-bottom: 13px;
    padding: 15px 15px;
    padding-top: 23px;
    border: 0;
    border-radius: 100px;
    background-color: #ff6600;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    font-family:'theBold';
    letter-spacing: 3px;
    font-size:25px;
    box-shadow:  0 5px #bb530e;
  }
  

  .custom-button:hover {
    background-color: #ffb525;
    box-shadow: 0 0 20px #ff986f50;
    transform: scale(1.1);
  }
  
  .custom-button:active {
    background-color: #cf753d;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

  .custom-buttonAzul {
    width: 150px;
    margin-top: 12px;
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #0a06f1;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .custom-buttonAzul:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  .custom-buttonAzul:active {
    background-color: #cf753d;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }



  .custom-buttonAzulRedondo {
    width: 60px;
    height: 60px;

    margin-top: 27px;
    padding: 0;
    border: 0;
    border-radius: 100px;
    background-color: rgb(14,62,217) ;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .custom-buttonAzulRedondo:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
  
  .custom-buttonAzulRedondo:active {
    background-color: #cf753d;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }