.botonComenzar {
    display: block;
    justify-content: center;

}

.imgMemo {
    width: 400px;
    
}

.homeLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Esto hace que el contenedor ocupe toda la altura de la pantalla */
  }